.register{
    width:100%;
    height: 100%;
    background-color:#F2F2F2;
        .content{
            width: 980px;
            height: 100%;
            margin:0 auto;

            .r_top{
                background-color:#F2F2F2;
                width: 100%;
                height: 80px;
                padding:20px 0 0 0;
                .logo{
                    width: 250px;
                    height: 63px;
                    display:inline-block;
                    a{
                        display: inline-block;
                        width: 250px;
                        height: 57px;
                        float:left;
                        background:url("../images/r_logo.jpg") no-repeat;
                    }
                }
                span{
                    font-size:12px;
                    margin-top:35px;
                    color:#666;
                    float:right;
                }
            }
            .main{
                width: 980px;
                height: 555px;
                background-color:#fff;
                padding:40px 60px;
                .email{
                    float:left;
                    width: 430px;
                    height: 458px;
                    .uname{
                        position:relative;
                        p{
                            display:none;
                            font-size:12px;
                            color:#f00;
                            position:absolute;
                            top:40px;
                            left:42%;
                        }
                    }
                    div{
                        width: 430px;
                        height: 66px;
                        label{
                            display:inline-block;
                            text-align:right;
                            font-size:12px;
                            width: 74px;
                            height: 36px

                        }
                        span{
                            display:inline-block;
                            width: 157px;
                            height: 36px;
                            margin-left:10px;
                            border:1px solid #ccc;
                            border-radius:6px;
                            line-height:36px;
                            text-align:center;
                            vertical-align:middle;

                        }
                        .icode{
                            width: 128px;
                            height: 36px;
                            margin-left:76px;
                        }
                        .check{
                            width: 17px;
                            height: 17px;
                            margin-left:76px;
                        }
                        input{
                            width: 292px;
                            height: 32px;
                            padding: 2px 3px;
                            border-radius:5px;
                            border:1px solid #ccc;
                        }
                        button{
                            display:block;
                            width: 178px;
                            height: 30px;
                            line-height:30px;
                            background-color:#ff3b37;
                            color:#fff;
                            font-size:12px;
                            text-align:center;
                            margin-left:76px;
                            border-radius:6px;
                        }
                    }
                }
                .accounts{
                   
                    width: 430px;
                    height: 206px;
                    float:left;
                    
                    .other{
                        margin-top:56px ;
                        padding:20px 35px;
                        .s_account{
                            margin-top:16px;
                            a{
                                width: 108px;
                                height: 35px;
                                background:#d5d5d5;
                                border:1px solid #ccc;
                                border-radius:6px;
                                display:inline-block;
                                margin-left:5px; 
                                text-align:center;
                                line-height:35px;
                                color:#666;
                            }
                            .more{
                                margin-left:20px;
                                width: 35px;
                                height: 17px;
                                // float:left;
                                margin: 20px 0 0 16px;
                                display: inline-block;
                                
                                cursor: pointer;
                                padding: 0 10px;
                            }
                        }
                        .h_account{
                            display:none;
                            margin-top:16px;
                             a{
                                width: 108px;
                                height: 35px;
                                background:#d5d5d5;
                                border:1px solid #ccc;
                                border-radius:6px;
                                display:inline-block;
                                margin-left:5px; 
                                text-align:center;
                                line-height:35px;
                                color:#666;

                            }
                        }
                    }
                   
                }
            }

            .bottom{
                width: 100%;
                height: 62px;
                padding:30px 0;
                p{
                    font-size:12px;
                    color:#666;
                    text-align:center;
                }
                .cert{
                     margin-top:5px;
                    text-align:center;
                    img{
                    width: 70px;
                    height: 26px;
                   
                }
                }
            }
        }
}