.home {
  width: 100%;
  height: 100%;
}

.home .tool_content {
  width: 100%;
  background-color: #fafafa;
}

.home .tool_content .toolbar {
  width: 1200px;
  height: 29px;
  padding: 0 5px;
  margin: 0 auto;
  border-bottom: 1px solid #fafafa;
}

.home .tool_content .toolbar .toolbar_news {
  width: 1200px;
  height: 29px;
  margin-left: 185px;
}

.home .tool_content .toolbar .toolbar_news .tblock {
  display: inline-block;
  width: 100px;
  height: 29px;
  float: left;
}

.home .tool_content .toolbar .toolbar_news .tblock a, .home .tool_content .toolbar .toolbar_news .tblock .side_nav .side_content .side_bottom em, .home .side_nav .side_content .side_bottom .tool_content .toolbar .toolbar_news .tblock em {
  font-size: 12px;
  line-height: 28px;
  color: #555;
}

.home .tool_content .toolbar .toolbar_news .tblock a:hover, .home .tool_content .toolbar .toolbar_news .tblock .side_nav .side_content .side_bottom em:hover, .home .side_nav .side_content .side_bottom .tool_content .toolbar .toolbar_news .tblock em:hover {
  color: red;
}

.home .tool_content .toolbar .toolbar_news .tbgraw {
  float: left;
  height: 29px;
}

.home .tool_content .toolbar .toolbar_news .tbgraw ul {
  height: 29px;
}

.home .tool_content .toolbar .toolbar_news .tbgraw ul li {
  float: left;
  width: 100px;
  height: 25px;
  margin: 2px 0;
  text-align: center;
  border-left: 1px solid #ccc;
}

.home .tool_content .toolbar .toolbar_news .tbgraw ul li a, .home .tool_content .toolbar .toolbar_news .tbgraw ul li .side_nav .side_content .side_bottom em, .home .side_nav .side_content .side_bottom .tool_content .toolbar .toolbar_news .tbgraw ul li em {
  height: 29px;
  font-size: 12px;
  line-height: 29px;
  color: #555;
}

.home .tool_content .toolbar .toolbar_news .tbgraw ul li:hover .phone {
  background: #fff;
  display: block;
}

.home .tool_content .toolbar .toolbar_news .tbgraw ul li:hover .qr {
  display: block;
  background: #fff;
}

.home .tool_content .toolbar .toolbar_news .tbgraw ul li .qr {
  display: none;
  width: 120px;
  height: 120px;
  position: absolute;
}

.home .tool_content .toolbar .toolbar_news .tbgraw ul li a:hover, .home .tool_content .toolbar .toolbar_news .tbgraw ul li .side_nav .side_content .side_bottom em:hover, .home .side_nav .side_content .side_bottom .tool_content .toolbar .toolbar_news .tbgraw ul li em:hover {
  color: red;
}

.home .tool_content .toolbar .toolbar_news .tbgraw ul li em a, .home .tool_content .toolbar .toolbar_news .tbgraw ul li em .side_nav .side_content .side_bottom em, .home .side_nav .side_content .side_bottom .tool_content .toolbar .toolbar_news .tbgraw ul li em em {
  color: red;
}

.home .header {
  height: 100px;
}

.home .header .header_content {
  width: 1200px;
  height: 100px;
  margin: 0 auto;
}

.home .header .header_content .header_left {
  float: left;
  height: 55px;
  width: 260px;
  display: inline-block;
  margin-top: 30px;
  margin-right: 30px;
}

.home .header .header_content .header_left a, .home .header .header_content .header_left .side_nav .side_content .side_bottom em, .home .side_nav .side_content .side_bottom .header .header_content .header_left em {
  display: inline-block;
  width: 250px;
  height: 55px;
  float: left;
  background: url("../images/r_logo.jpg") no-repeat;
}

.home .header .header_center {
  width: 460px;
  height: 29px;
  margin: 30px 0 0 30px;
  display: inline-block;
  border: 5px solid #E60044;
  float: left;
}

.home .header .header_center .search {
  height: 29px;
  width: 463px;
}

.home .header .header_center .search .search_text {
  float: left;
  width: 83px;
  height: 32px;
  padding-top: 2px;
  display: inline-block;
  background: url(../images/search.png) -190px 0 no-repeat;
}

.home .header .header_center .search .s_news {
  float: left;
  width: 300px;
  height: 14px;
  padding: 5px 0 10px 10px;
}

.home .header .header_center .search .fdj {
  background: url(../images/search.png) 0 -34px no-repeat;
  width: 100px;
  height: 29px;
}

.home .header .header_right {
  float: right;
  width: 400px;
  height: 40px;
  margin-top: 30px;
}

.home .header .header_right a img, .home .header .header_right .side_nav .side_content .side_bottom em img, .home .side_nav .side_content .side_bottom .header .header_right em img {
  width: 320px;
  height: 38px;
}

.home .nav {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #ccc;
}

.home .nav .nav_content {
  width: 1200px;
  margin: 0 auto;
  height: 40px;
}

.home .nav .nav_content .nav_main {
  width: 1200px;
  height: 40px;
}

.home .nav .nav_content .nav_main .home_nav {
  float: left;
  width: 150px;
  height: 40px;
  display: inline-block;
  text-align: center;
  background: #f00;
}

.home .nav .nav_content .nav_main .home_nav a, .home .nav .nav_content .nav_main .home_nav .side_nav .side_content .side_bottom em, .home .side_nav .side_content .side_bottom .nav .nav_content .nav_main .home_nav em {
  color: #fff;
  font-size: 14px;
  line-height: 40px;
}

.home .nav .nav_content .nav_main .jifen, .home .nav .nav_content .nav_main .details .details_content .details_pic .details_right .newslist .detail_p .y_hui, .home .details .details_content .details_pic .details_right .newslist .detail_p .nav .nav_content .nav_main .y_hui {
  float: left;
  padding-left: 30px;
}

.home .nav .nav_content .nav_main .jifen a, .home .nav .nav_content .nav_main .details .details_content .details_pic .details_right .newslist .detail_p .y_hui a, .home .details .details_content .details_pic .details_right .newslist .detail_p .nav .nav_content .nav_main .y_hui a, .home .nav .nav_content .nav_main .jifen .side_nav .side_content .side_bottom em, .home .side_nav .side_content .side_bottom .nav .nav_content .nav_main .jifen em, .home .nav .nav_content .nav_main .details .details_content .details_pic .details_right .newslist .detail_p .y_hui .side_nav .side_content .side_bottom em, .home .side_nav .side_content .side_bottom .nav .nav_content .nav_main .details .details_content .details_pic .details_right .newslist .detail_p .y_hui em, .home .details .details_content .details_pic .details_right .newslist .detail_p .nav .nav_content .nav_main .y_hui .side_nav .side_content .side_bottom em, .home .side_nav .side_content .side_bottom .details .details_content .details_pic .details_right .newslist .detail_p .nav .nav_content .nav_main .y_hui em {
  color: #666;
  width: 130px;
  height: 40px;
  text-align: center;
  font-size: 14px;
  line-height: 40px;
}

.home .nav .nav_content .nav_main .nav_2 {
  float: left;
  width: 922px;
  height: 40px;
}

.home .nav .nav_content .nav_main .nav_2 ul li {
  float: left;
  width: 130px;
  height: 40px;
  text-align: center;
  font-size: 14px;
  line-height: 40px;
}

.home .nav .nav_content .nav_main .nav_2 ul li a, .home .nav .nav_content .nav_main .nav_2 ul li .side_nav .side_content .side_bottom em, .home .side_nav .side_content .side_bottom .nav .nav_content .nav_main .nav_2 ul li em {
  color: #666;
}

.home .nav .nav_content .nav_main .nav_2 ul li:hover {
  border-bottom: 5px solid #f00;
  box-shadow: 0 0 5px #ccc;
}

.home .nav .nav_content .nav_main .show_nav {
  display: none;
  width: 150px;
  height: 299px;
  margin-top: 40px;
  border: 1px solid #ccc;
  position: absolute;
  background: #fff;
}

.home .nav .nav_content .nav_main .show_nav ul li {
  float: left;
  width: 136px;
  height: 29px;
  margin: 0 7px;
  padding-left: 5px;
  border-bottom: 1px solid #ccc;
}

.home .nav .nav_content .nav_main .show_nav ul li a, .home .nav .nav_content .nav_main .show_nav ul li .side_nav .side_content .side_bottom em, .home .side_nav .side_content .side_bottom .nav .nav_content .nav_main .show_nav ul li em {
  display: inline-block;
  margin: 0 10px;
  text-align: right;
  font-size: 12px;
  color: #666;
}

.home .nav .nav_content .nav_main .show_nav ul li:nth-child(9) a, .home .nav .nav_content .nav_main .show_nav ul li:nth-child(9) .side_nav .side_content .side_bottom em, .home .side_nav .side_content .side_bottom .nav .nav_content .nav_main .show_nav ul li:nth-child(9) em {
  padding: 0;
  margin: 0;
}

.home .nav .nav_content .nav_main .show_nav ul li a:hover, .home .nav .nav_content .nav_main .show_nav ul li .side_nav .side_content .side_bottom em:hover, .home .side_nav .side_content .side_bottom .nav .nav_content .nav_main .show_nav ul li em:hover {
  border-bottom: 1px solid #999;
  color: #f00;
}

.home .details {
  width: 100%;
}

.home .details .details_content {
  width: 1200px;
  margin: 0 auto;
}

.home .details .details_content .details_path {
  width: 100%;
  height: 38px;
  font-size: 12px;
  line-height: 38px;
  color: #555;
}

.home .details .details_content .details_path a, .home .details .details_content .details_path .side_nav .side_content .side_bottom em, .home .side_nav .side_content .side_bottom .details .details_content .details_path em {
  color: #555;
}

.home .details .details_content .details_pic {
  width: 1200px;
  height: 520px;
  margin-bottom: 45px;
}

.home .details .details_content .details_pic .details_left {
  float: left;
  width: 402px;
  height: 520px;
}

.home .details .details_content .details_pic .details_left .big_pic {
  width: 400px;
  height: 400px;
  border: 1px solid #e5e5e5;
  font-size: 0;
  line-height: 400px;
  overflow: hidden;
}

.home .details .details_content .details_pic .details_left .big_pic img {
  width: 400px;
  height: 400px;
}

.home .details .details_content .details_pic .details_left .small_pic {
  width: 408px;
  height: 60px;
  overflow: hidden;
  margin-top: 8px;
}

.home .details .details_content .details_pic .details_left .small_pic ul li {
  width: 58px;
  margin-right: 8px;
  height: 58px;
  float: left;
  border: 1px solid #e5e5e5;
  overflow: hidden;
  font-size: 0;
  line-height: 58px;
}

.home .details .details_content .details_pic .details_left .small_pic ul li a, .home .details .details_content .details_pic .details_left .small_pic ul li .side_nav .side_content .side_bottom em, .home .side_nav .side_content .side_bottom .details .details_content .details_pic .details_left .small_pic ul li em {
  max-width: 58px;
  max-height: 58px;
  width: 58px;
  height: 58px;
  vertical-align: middle;
  overflow: hidden;
}

.home .details .details_content .details_pic .details_left .small_pic ul li a img, .home .details .details_content .details_pic .details_left .small_pic ul li .side_nav .side_content .side_bottom em img, .home .side_nav .side_content .side_bottom .details .details_content .details_pic .details_left .small_pic ul li em img {
  width: 58px;
  height: 58px;
}

.home .details .details_content .details_pic .details_right {
  float: left;
  width: 745px;
  height: 517px;
  margin-left: 45px;
}

.home .details .details_content .details_pic .details_right .newslist {
  width: 549px;
  height: 520px;
}

.home .details .details_content .details_pic .details_right .newslist .new_head {
  width: 549px;
  height: 42px;
}

.home .details .details_content .details_pic .details_right .newslist .new_head h1 {
  font-weight: bold;
  color: #323232;
}

.home .details .details_content .details_pic .details_right .newslist .new_head h3 {
  font-size: 12px;
  color: #EA9596;
  line-height: 16px;
}

.home .details .details_content .details_pic .details_right .newslist .detail_p {
  width: 528px;
  height: 75px;
  background: #fff6eb;
  padding: 10px;
}

.home .details .details_content .details_pic .details_right .newslist .detail_p strong {
  color: #f00;
  font-weight: bold;
}

.home .details .details_content .details_pic .details_right .newslist .detail_p del {
  font-size: 12px;
  color: #777;
}

.home .details .details_content .details_pic .details_right .newslist .detail_p em {
  margin-left: 20px;
  font-size: 12px;
  color: #888;
}

.home .details .details_content .details_pic .details_right .newslist .detail_p .jifen, .home .details .details_content .details_pic .details_right .newslist .detail_p .y_hui {
  font-size: 14px;
  line-height: 20px;
  color: #999;
}

.home .details .details_content .details_pic .details_right .newslist .detail_p .jifen h3, .home .details .details_content .details_pic .details_right .newslist .detail_p .y_hui h3 {
  width: 50px;
  display: inline-block;
  font-size: 12px;
  line-height: 30px;
}

.home .details .details_content .details_pic .details_right .newslist .chose {
  margin-top: 10px;
}

.home .details .details_content .details_pic .details_right .newslist .chose .yunfei, .home .details .details_content .details_pic .details_right .newslist .chose .fuwu, .home .details .details_content .details_pic .details_right .newslist .chose .color, .home .details .details_content .details_pic .details_right .newslist .chose .size {
  font-size: 14px;
  line-height: 20px;
  color: #999;
  margin-top: 10px;
}

.home .details .details_content .details_pic .details_right .newslist .chose .yunfei h3, .home .details .details_content .details_pic .details_right .newslist .chose .fuwu h3, .home .details .details_content .details_pic .details_right .newslist .chose .color h3, .home .details .details_content .details_pic .details_right .newslist .chose .size h3 {
  width: 50px;
  display: inline-block;
  font-size: 12px;
  line-height: 30px;
}

.home .details .details_content .details_pic .details_right .newslist .chose .yunfei span, .home .details .details_content .details_pic .details_right .newslist .chose .fuwu span, .home .details .details_content .details_pic .details_right .newslist .chose .color span, .home .details .details_content .details_pic .details_right .newslist .chose .size span {
  display: inline-block;
  padding: 0 10px;
}

.home .details .details_content .details_pic .details_right .newslist .chose .color span {
  border: 1px solid #ccc;
  padding: 0 5px;
}

.home .details .details_content .details_pic .details_right .newslist .chose .size span {
  border: 1px solid #ccc;
  padding: 0 5px;
}

.home .details .details_content .details_pic .details_right .newslist .chose .d_qty {
  margin-top: 20px;
}

.home .details .details_content .details_pic .details_right .newslist .chose .d_qty h3 {
  width: 50px;
  display: inline-block;
  font-size: 12px;
  line-height: 30px;
}

.home .details .details_content .details_pic .details_right .newslist .chose .d_qty .jian {
  margin-left: -5px;
}

.home .details .details_content .details_pic .details_right .newslist .chose .d_qty .jia {
  margin-right: -6px;
}

.home .details .details_content .details_pic .details_right .newslist .chose .d_qty input {
  width: 20px;
  border: 1px solid #ccc;
  padding: 2px 5px;
  height: 31px;
}

.home .details .details_content .details_pic .details_right .newslist .chose .d_qty .i_qty {
  border: 1px solid #ccc;
  padding: 2px 5px;
  width: 30px;
  height: 25px;
}

.home .details .details_content .details_pic .details_right .newslist .chose .d_qty p {
  display: inline-block;
  margin-left: 10px;
  font-size: 12px;
  color: #ccc;
}

.home .details .details_content .details_pic .details_right .newslist .chose .goumai {
  margin-top: 20px;
}

.home .details .details_content .details_pic .details_right .newslist .chose .goumai button {
  width: 150px;
  height: 50px;
  border: 1px solid #f00;
  margin-right: 20px;
}

.home .details .details_content .details_pic .details_right .newslist .chose .goumai .buy {
  background: #fff;
  color: #f00;
  font-size: 16px;
}

.home .details .details_content .details_pic .details_right .newslist .chose .goumai .add2cart {
  background: #f00;
  color: #fff;
  font-size: 16px;
}

.home .details .details_content .details_pic .details_right .newslist .chose .chengnuo {
  margin-top: 20px;
  font-size: 12px;
  color: #999;
  line-height: 16px;
}

.home .details .details_content .details_pic .details_right .newslist .chose .chengnuo span {
  padding: 2px 10px;
}

.home .details .details_content .details_pic .details_right .evaluate {
  float: right;
}

.home .side_nav {
  width: 146px;
  height: 538px;
  border: 1px solid #ccc;
  position: fixed;
  top: 171px;
  left: 2%;
  background: #fff;
}

.home .side_nav .side_content {
  width: 126px;
  margin: 0 10px;
}

.home .side_nav .side_content .idt {
  width: 126px;
  height: 25px;
  font-size: 12px;
  line-height: 25px;
  background: #fe6a6a;
  text-align: center;
  margin: 10px 0;
}

.home .side_nav .side_content .idt a, .home .side_nav .side_content .idt .side_bottom em, .home .side_nav .side_content .side_bottom .idt em {
  color: #fff;
  display: block;
}

.home .side_nav .side_content .side_nav_list {
  width: 126px;
  height: 90px;
  padding: 5px 0;
  border-bottom: 1px solid #ccc;
}

.home .side_nav .side_content .side_nav_list ul li {
  font-size: 12px;
  line-height: 30px;
  float: left;
  padding: 0 5px;
}

.home .side_nav .side_content .side_nav_list ul li a, .home .side_nav .side_content .side_nav_list ul li .side_bottom em, .home .side_nav .side_content .side_bottom .side_nav_list ul li em {
  display: block;
  color: #999;
}

.home .side_nav .side_content .side_nav_class {
  width: 126px;
  height: 237px;
}

.home .side_nav .side_content .side_nav_class ul li {
  float: left;
  width: 50%;
  line-height: 30px;
  height: 29px;
}

.home .side_nav .side_content .side_nav_class ul li a, .home .side_nav .side_content .side_nav_class ul li .side_bottom em, .home .side_nav .side_content .side_bottom .side_nav_class ul li em {
  color: #666;
  display: inline-block;
  text-decoration: none;
  padding: 0;
  line-height: 19px;
  position: relative;
  font-size: 12px;
}

.home .side_nav .side_content .side_nav_class ul li a i, .home .side_nav .side_content .side_nav_class ul li .side_bottom em i, .home .side_nav .side_content .side_bottom .side_nav_class ul li em i {
  display: block;
  float: left;
  margin-right: 4px;
  height: 20px;
  width: 20px;
  background: url(../images/side1.png) -575px -49px no-repeat;
  line-height: 20px;
}

.home .side_nav .side_content .side_search {
  border: 1px solid #ccc;
  width: 120px;
  height: 28px;
  margin: 5px 0 10px 0;
}

.home .side_nav .side_content .side_search .ss {
  width: 87px;
  height: 24px;
  padding: 1px 5px;
}

.home .side_nav .side_content .side_search .sbt {
  width: 28px;
  height: 28px;
  padding: 5px;
  border-left: 1px solid #ccc;
  background: url(../images/search.png) -42px 0 no-repeat;
}

.home .side_nav .side_content .side_bottom {
  width: 126px;
  height: 30px;
  padding-top: 3px;
  border-top: 1px solid #ccc;
}

.home .side_nav .side_content .side_bottom a, .home .side_nav .side_content .side_bottom em {
  color: #666;
  display: inline-block;
  font-size: 12px;
  line-height: 20px;
  padding: 5px;
}

.home .xiding {
  display: none;
  width: 100%;
  height: 83px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 100;
  border-bottom: 2px solid #ccc;
  box-shadow: 0 0 5px #ccc;
}

.home .xiding .xiding_content .xiding_top {
  width: 100%;
  height: 40px;
  border-bottom: 2px solid #f00;
}

.home .xiding .xiding_content .xiding_top .topc {
  width: 1200px;
  height: 35px;
  margin: 0 auto;
}

.home .xiding .xiding_content .xiding_top .topc span {
  width: 50px;
  padding: 5px;
  float: left;
  font-size: 16px;
  line-height: 30px;
  color: #f00;
}

.home .xiding .xiding_content .xiding_top .topc ul {
  float: left;
}

.home .xiding .xiding_content .xiding_top .topc ul li {
  float: left;
  padding: 5px;
}

.home .xiding .xiding_content .xiding_top .topc ul li a, .home .xiding .xiding_content .xiding_top .topc ul li .side_nav .side_content .side_bottom em, .home .side_nav .side_content .side_bottom .xiding .xiding_content .xiding_top .topc ul li em {
  font-size: 16px;
  line-height: 30px;
  color: #444;
}

.home .xiding .xiding_content .xiding_top .topc .xd_search {
  width: 206px;
  height: 30px;
  float: right;
  line-height: 40px;
  display: inline-block;
}

.home .xiding .xiding_content .xiding_top .topc .xd_search .xd_ss {
  width: 125px;
  border: 2px solid #E60044;
  height: 27px;
}

.home .xiding .xiding_content .xiding_top .topc .xd_search .xd_sbt {
  width: 70px;
  height: 27px;
  margin-left: -5px;
  background: url(../images/search.png) -200px 0 no-repeat;
}

.home .xiding .xiding_content .xiding_bottom {
  width: 100%;
  height: 40px;
}

.home .xiding .xiding_content .xiding_bottom .bottomc {
  width: 1200px;
  height: 40px;
  margin: 0 auto;
}

.home .xiding .xiding_content .xiding_bottom .bottomc span {
  width: 50px;
  padding: 5px;
  float: left;
  font-size: 16px;
  line-height: 30px;
  color: #f00;
}

.home .xiding .xiding_content .xiding_bottom .bottomc ul {
  float: left;
}

.home .xiding .xiding_content .xiding_bottom .bottomc ul li {
  float: left;
  padding: 5px;
  font-size: 16px;
  line-height: 30px;
}

.home .xiding .xiding_content .xiding_bottom .bottomc ul li a, .home .xiding .xiding_content .xiding_bottom .bottomc ul li .side_nav .side_content .side_bottom em, .home .side_nav .side_content .side_bottom .xiding .xiding_content .xiding_bottom .bottomc ul li em {
  color: #444;
}

.home .footer {
  width: 100%;
  height: 400px;
  border-top: 2px solid #f00;
}

.home .footer .footer_content {
  width: 1200px;
  height: 400px;
  margin: 0 auto;
}

.home .footer .footer_content .bottom {
  width: 1200px;
  height: 240px;
  margin-top: 40px;
}

.home .footer .footer_content .bottom ul li {
  float: left;
  width: 137px;
  height: 270px;
  padding-right: 60px;
  text-align: center;
}

.home .footer .footer_content .bottom ul li div i {
  display: inline-block;
  width: 80px;
  height: 80px;
  background: url(../images/foot1.png) 0 0 no-repeat;
  margin-bottom: 20px;
}

.home .footer .footer_content .bottom ul li ul li {
  width: 137px;
  height: 27px;
  font-size: 12px;
  line-height: 25px;
}

.home .footer .footer_content .bottom ul li ul li a, .home .footer .footer_content .bottom ul li ul li .side_nav .side_content .side_bottom em, .home .side_nav .side_content .side_bottom .footer .footer_content .bottom ul li ul li em {
  color: #555;
}

.home .footer .footer_content .bottom ul li ul li:hover a, .home .footer .footer_content .bottom ul li ul li:hover .side_nav .side_content .side_bottom em, .home .side_nav .side_content .side_bottom .footer .footer_content .bottom ul li ul li:hover em {
  color: #f00;
  border-bottom: #f00;
}

.home .footer .footer_content .bottom ul li img {
  text-align: center;
  padding-left: 15px;
}

.home .footer .footer_content .bottom ul li p {
  font-size: 14px;
  color: #333;
  line-height: 18px;
  text-align: center;
}

.home .footer .footer_content .bottom1 {
  width: 100%;
  height: 62px;
  padding: 30px 0;
}

.home .footer .footer_content .bottom1 p {
  font-size: 12px;
  color: #666;
  text-align: center;
  margin-top: 20px;
}

.home .footer .footer_content .bottom1 .cert {
  margin-top: 5px;
  text-align: center;
}

.home .footer .footer_content .bottom1 .cert img {
  width: 70px;
  height: 26px;
  margin-top: 20px;
}
