@charset "UTF-8";
.home {
  width: 100%;
  height: 100%;
}

.home .tool_content {
  width: 100%;
  background-color: #fafafa;
}

.home .tool_content .toolbar {
  width: 1200px;
  height: 29px;
  padding: 0 5px;
  margin: 0 auto;
  border-bottom: 1px solid #fafafa;
}

.home .tool_content .toolbar .toolbar_news {
  width: 1200px;
  height: 29px;
  margin-left: 185px;
}

.home .tool_content .toolbar .toolbar_news .tblock {
  display: inline-block;
  width: 100px;
  height: 29px;
  float: left;
}

.home .tool_content .toolbar .toolbar_news .tblock a, .home .tool_content .toolbar .toolbar_news .tblock .side_nav .side_content .side_bottom em, .home .side_nav .side_content .side_bottom .tool_content .toolbar .toolbar_news .tblock em {
  font-size: 12px;
  line-height: 28px;
  color: #555;
}

.home .tool_content .toolbar .toolbar_news .tblock a:hover, .home .tool_content .toolbar .toolbar_news .tblock .side_nav .side_content .side_bottom em:hover, .home .side_nav .side_content .side_bottom .tool_content .toolbar .toolbar_news .tblock em:hover {
  color: red;
}

.home .tool_content .toolbar .toolbar_news .tbgraw {
  float: left;
  height: 29px;
}

.home .tool_content .toolbar .toolbar_news .tbgraw ul {
  height: 29px;
}

.home .tool_content .toolbar .toolbar_news .tbgraw ul li {
  float: left;
  width: 100px;
  height: 25px;
  margin: 2px 0;
  text-align: center;
  border-left: 1px solid #ccc;
}

.home .tool_content .toolbar .toolbar_news .tbgraw ul li a, .home .tool_content .toolbar .toolbar_news .tbgraw ul li .side_nav .side_content .side_bottom em, .home .side_nav .side_content .side_bottom .tool_content .toolbar .toolbar_news .tbgraw ul li em {
  height: 29px;
  font-size: 12px;
  line-height: 29px;
  color: #555;
}

.home .tool_content .toolbar .toolbar_news .tbgraw ul li:hover .phone {
  background: #fff;
  display: block;
}

.home .tool_content .toolbar .toolbar_news .tbgraw ul li:hover .qr {
  display: block;
  background: #fff;
}

.home .tool_content .toolbar .toolbar_news .tbgraw ul li .qr {
  display: none;
  width: 120px;
  height: 120px;
  position: absolute;
}

.home .tool_content .toolbar .toolbar_news .tbgraw ul li a:hover, .home .tool_content .toolbar .toolbar_news .tbgraw ul li .side_nav .side_content .side_bottom em:hover, .home .side_nav .side_content .side_bottom .tool_content .toolbar .toolbar_news .tbgraw ul li em:hover {
  color: red;
}

.home .tool_content .toolbar .toolbar_news .tbgraw ul li em a, .home .tool_content .toolbar .toolbar_news .tbgraw ul li em .side_nav .side_content .side_bottom em, .home .side_nav .side_content .side_bottom .tool_content .toolbar .toolbar_news .tbgraw ul li em em {
  color: red;
}

.home .header {
  height: 100px;
}

.home .header .header_content {
  width: 1200px;
  height: 100px;
  margin: 0 auto;
}

.home .header .header_content .header_left {
  float: left;
  height: 55px;
  width: 260px;
  display: inline-block;
  margin-top: 30px;
  margin-right: 30px;
}

.home .header .header_content .header_left a, .home .header .header_content .header_left .side_nav .side_content .side_bottom em, .home .side_nav .side_content .side_bottom .header .header_content .header_left em {
  display: inline-block;
  width: 250px;
  height: 55px;
  float: left;
  background: url("../images/r_logo.jpg") no-repeat;
}

.home .header .header_center {
  width: 460px;
  height: 29px;
  margin: 30px 0 0 30px;
  display: inline-block;
  border: 5px solid #E60044;
  float: left;
}

.home .header .header_center .search {
  height: 29px;
  width: 463px;
}

.home .header .header_center .search .search_text {
  float: left;
  width: 83px;
  height: 32px;
  padding-top: 2px;
  display: inline-block;
  background: url(../images/search.png) -190px 0 no-repeat;
}

.home .header .header_center .search .s_news {
  float: left;
  width: 300px;
  height: 14px;
  padding: 5px 0 10px 10px;
}

.home .header .header_center .search .fdj {
  background: url(../images/search.png) 0 -34px no-repeat;
  width: 100px;
  height: 29px;
}

.home .header .header_right {
  float: right;
  width: 400px;
  height: 40px;
  margin-top: 30px;
}

.home .header .header_right a img, .home .header .header_right .side_nav .side_content .side_bottom em img, .home .side_nav .side_content .side_bottom .header .header_right em img {
  width: 320px;
  height: 38px;
}

.home .nav {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #ccc;
}

.home .nav .nav_content {
  width: 1200px;
  margin: 0 auto;
  height: 40px;
}

.home .nav .nav_content .nav_main {
  width: 1200px;
  height: 40px;
}

.home .nav .nav_content .nav_main .home_nav {
  float: left;
  width: 150px;
  height: 40px;
  display: inline-block;
  text-align: center;
  background: #f00;
}

.home .nav .nav_content .nav_main .home_nav a, .home .nav .nav_content .nav_main .home_nav .side_nav .side_content .side_bottom em, .home .side_nav .side_content .side_bottom .nav .nav_content .nav_main .home_nav em {
  color: #fff;
  font-size: 14px;
  line-height: 40px;
}

.home .nav .nav_content .nav_main .jifen {
  float: left;
  padding-left: 30px;
}

.home .nav .nav_content .nav_main .jifen a, .home .nav .nav_content .nav_main .jifen .side_nav .side_content .side_bottom em, .home .side_nav .side_content .side_bottom .nav .nav_content .nav_main .jifen em {
  color: #666;
  width: 130px;
  height: 40px;
  text-align: center;
  font-size: 14px;
  line-height: 40px;
}

.home .nav .nav_content .nav_main .nav_2 {
  float: left;
  width: 922px;
  height: 40px;
}

.home .nav .nav_content .nav_main .nav_2 ul li {
  float: left;
  width: 130px;
  height: 40px;
  text-align: center;
  font-size: 14px;
  line-height: 40px;
}

.home .nav .nav_content .nav_main .nav_2 ul li a, .home .nav .nav_content .nav_main .nav_2 ul li .side_nav .side_content .side_bottom em, .home .side_nav .side_content .side_bottom .nav .nav_content .nav_main .nav_2 ul li em {
  color: #666;
}

.home .nav .nav_content .nav_main .nav_2 ul li:hover {
  border-bottom: 5px solid #f00;
  box-shadow: 0 0 5px #ccc;
}

.home .nav .nav_content .nav_main .show_nav {
  width: 150px;
  height: 299px;
  margin-top: 40px;
  border: 1px solid #ccc;
  position: absolute;
}

.home .nav .nav_content .nav_main .show_nav ul li {
  float: left;
  width: 136px;
  height: 29px;
  margin: 0 7px;
  padding-left: 5px;
  border-bottom: 1px solid #ccc;
}

.home .nav .nav_content .nav_main .show_nav ul li .nav_pop {
  display: none;
  position: absolute;
  top: 0;
  left: 150px;
  background: #fff;
  z-index: 1000;
  width: 370px;
  height: 303px;
  border: 1px solid #ccc;
}

.home .nav .nav_content .nav_main .show_nav ul li .nav_pop .nav_pop_left {
  float: left;
  width: 187px;
  height: 303px;
  padding-left: 10px;
}

.home .nav .nav_content .nav_main .show_nav ul li .nav_pop .nav_pop_left .nav_pop_second1 {
  width: 219px;
  height: 153px;
}

.home .nav .nav_content .nav_main .show_nav ul li .nav_pop .nav_pop_left .nav_pop_second1 h3 {
  width: 185px;
  height: 32px;
  font-size: 14px;
  line-height: 30px;
  border-bottom: 1px solid #f00;
  margin: 0;
  padding: 0;
}

.home .nav .nav_content .nav_main .show_nav ul li .nav_pop .nav_pop_left .nav_pop_second1 h3 a, .home .nav .nav_content .nav_main .show_nav ul li .nav_pop .nav_pop_left .nav_pop_second1 h3 .side_nav .side_content .side_bottom em, .home .side_nav .side_content .side_bottom .nav .nav_content .nav_main .show_nav ul li .nav_pop .nav_pop_left .nav_pop_second1 h3 em {
  color: #ccc;
}

.home .nav .nav_content .nav_main .show_nav ul li .nav_pop .nav_pop_left .nav_pop_second1 .nav_left_list1 {
  width: 219px;
  height: 121px;
}

.home .nav .nav_content .nav_main .show_nav ul li .nav_pop .nav_pop_left .nav_pop_second1 .nav_left_list1 ul li {
  float: left;
  width: auto;
  height: 12px;
  margin: 10px 0 6px 0;
  border: 0;
  line-height: 14px;
  font-family: "microsoft yahei";
  font-size: 12px;
  background-color: #fff;
}

.home .nav .nav_content .nav_main .show_nav ul li .nav_pop .nav_pop_left .nav_pop_second1 .nav_left_list1 ul li a, .home .nav .nav_content .nav_main .show_nav ul li .nav_pop .nav_pop_left .nav_pop_second1 .nav_left_list1 ul li .side_nav .side_content .side_bottom em, .home .side_nav .side_content .side_bottom .nav .nav_content .nav_main .show_nav ul li .nav_pop .nav_pop_left .nav_pop_second1 .nav_left_list1 ul li em {
  color: #666;
  display: inline-block;
}

.home .nav .nav_content .nav_main .show_nav ul li .nav_pop .nav_pop_left .nav_pop_second1 .nav_left_list1 ul li:hover a, .home .nav .nav_content .nav_main .show_nav ul li .nav_pop .nav_pop_left .nav_pop_second1 .nav_left_list1 ul li:hover .side_nav .side_content .side_bottom em, .home .side_nav .side_content .side_bottom .nav .nav_content .nav_main .show_nav ul li .nav_pop .nav_pop_left .nav_pop_second1 .nav_left_list1 ul li:hover em {
  color: #f00;
  border-bottom: 1px solid #f00;
}

.home .nav .nav_content .nav_main .show_nav ul li .nav_pop .nav_pop_left .nav_pop_second2 {
  width: 219px;
  height: 153px;
}

.home .nav .nav_content .nav_main .show_nav ul li .nav_pop .nav_pop_left .nav_pop_second2 h3 {
  width: 185px;
  height: 32px;
  font-size: 14px;
  line-height: 30px;
  border-bottom: 1px solid #f00;
  margin: 0;
  padding: 0;
}

.home .nav .nav_content .nav_main .show_nav ul li .nav_pop .nav_pop_left .nav_pop_second2 h3 a, .home .nav .nav_content .nav_main .show_nav ul li .nav_pop .nav_pop_left .nav_pop_second2 h3 .side_nav .side_content .side_bottom em, .home .side_nav .side_content .side_bottom .nav .nav_content .nav_main .show_nav ul li .nav_pop .nav_pop_left .nav_pop_second2 h3 em {
  color: #ccc;
}

.home .nav .nav_content .nav_main .show_nav ul li .nav_pop .nav_pop_left .nav_pop_second2 .nav_left_list2 {
  width: 219px;
  height: 121px;
}

.home .nav .nav_content .nav_main .show_nav ul li .nav_pop .nav_pop_left .nav_pop_second2 .nav_left_list2 ul li {
  float: left;
  width: auto;
  height: 12px;
  margin: 10px 0 6px 0;
  border: 0;
  line-height: 14px;
  font-family: "microsoft yahei";
  font-size: 12px;
  background-color: #fff;
}

.home .nav .nav_content .nav_main .show_nav ul li .nav_pop .nav_pop_left .nav_pop_second2 .nav_left_list2 ul li a, .home .nav .nav_content .nav_main .show_nav ul li .nav_pop .nav_pop_left .nav_pop_second2 .nav_left_list2 ul li .side_nav .side_content .side_bottom em, .home .side_nav .side_content .side_bottom .nav .nav_content .nav_main .show_nav ul li .nav_pop .nav_pop_left .nav_pop_second2 .nav_left_list2 ul li em {
  color: #666;
  display: inline-block;
}

.home .nav .nav_content .nav_main .show_nav ul li .nav_pop .nav_pop_left .nav_pop_second2 .nav_left_list2 ul li:hover a, .home .nav .nav_content .nav_main .show_nav ul li .nav_pop .nav_pop_left .nav_pop_second2 .nav_left_list2 ul li:hover .side_nav .side_content .side_bottom em, .home .side_nav .side_content .side_bottom .nav .nav_content .nav_main .show_nav ul li .nav_pop .nav_pop_left .nav_pop_second2 .nav_left_list2 ul li:hover em {
  color: #f00;
  border-bottom: 1px solid #f00;
}

.home .nav .nav_content .nav_main .show_nav ul li .nav_pop .nav_pop_right {
  float: right;
  width: 142px;
  height: 290px;
}

.home .nav .nav_content .nav_main .show_nav ul li .nav_pop .nav_pop_right img {
  width: 140px;
  height: 93px;
  margin-top: 5px;
}

.home .nav .nav_content .nav_main .show_nav ul li a, .home .nav .nav_content .nav_main .show_nav ul li .side_nav .side_content .side_bottom em, .home .side_nav .side_content .side_bottom .nav .nav_content .nav_main .show_nav ul li em {
  display: inline-block;
  margin: 0 10px;
  text-align: right;
  font-size: 12px;
  color: #666;
}

.home .nav .nav_content .nav_main .show_nav ul li:nth-child(9) a, .home .nav .nav_content .nav_main .show_nav ul li:nth-child(9) .side_nav .side_content .side_bottom em, .home .side_nav .side_content .side_bottom .nav .nav_content .nav_main .show_nav ul li:nth-child(9) em {
  padding: 0;
  margin: 0;
}

.home .nav .nav_content .nav_main .show_nav ul li a:hover, .home .nav .nav_content .nav_main .show_nav ul li .side_nav .side_content .side_bottom em:hover, .home .side_nav .side_content .side_bottom .nav .nav_content .nav_main .show_nav ul li em:hover {
  border-bottom: 1px solid #999;
  color: #f00;
}

.home .nav .nav_content .nav_main .show_nav ul li:hover .nav_pop {
  display: block;
}

.home .banner {
  width: 100%;
}

.home .banner .banner_content {
  width: 1050px;
  height: 304px;
  padding-left: 150px;
  margin: 0 auto;
}

.home .banner .banner_content .banner_pic {
  width: 951px;
  height: 304px;
  overflow: hidden;
  position: relative;
  display: inline-block;
}

.home .banner .banner_content .banner_pic ul {
  position: absolute;
  overflow: hidden;
}

.home .banner .banner_content .banner_pic ul li {
  float: left;
}

.home .banner .banner_content .banner_pic ul li img {
  display: inline-block;
  height: 304px;
}

.home .banner .banner_content .banner_pic .page {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 10px;
}

.home .banner .banner_content .banner_pic .page p {
  display: inline-block;
  margin: 0 5px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.home .banner .banner_content .banner_pic .page p.active {
  background-color: rgba(255, 0, 0, 0.8);
}

.home .banner .banner_content .banner_pic span {
  display: none;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  padding: 50px 16px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.home .banner .banner_content .banner_pic span:hover {
  background-color: rgba(255, 0, 0, 0.8);
}

.home .banner .banner_content .banner_pic span.btn-next {
  left: auto;
  right: 0;
}

.home .banner .banner_content .banner_pic:hover span {
  display: block;
}

.home .banner .banner_content .banner_right {
  width: 76px;
  height: 302px;
  border: 1px solid #ccc;
  padding-left: 20px;
  float: right;
}

.home .banner .banner_content .banner_right .b_i {
  font-size: 12px;
  line-height: 18px;
  color: #e00;
  margin-top: 20px;
}

.home .banner .banner_content .banner_right .b_i i {
  width: 50px;
  height: 50px;
  display: inline-block;
  background: url(../images/search.png) -225px -31px no-repeat;
}

.home .banner .banner_content .banner_right .b_p {
  margin-top: 20px;
  font-size: 12px;
  line-height: 18px;
  color: #e00;
}

.home .banner .banner_content .banner_right .b_p p {
  margin-top: 10px;
}

.home .brand {
  width: 100%;
  height: 407px;
}

.home .brand .brand_content {
  width: 1200px;
  height: 376px;
  margin: 0 auto;
}

.home .brand .brand_content .brand_head {
  border-bottom: 1px solid #f00;
  margin-top: 31px;
  width: 100%;
  height: 44px;
  vertical-align: top;
}

.home .brand .brand_content .brand_head i {
  display: inline-block;
  width: 40px;
  height: 30px;
  background: url(../images/search.png) -107px 0 no-repeat;
}

.home .brand .brand_content .brand_head h3 {
  display: inline-block;
  font-size: 24px;
  height: 44px;
}

.home .brand .brand_content .brand_head span {
  color: #666;
  margin-left: 20px;
}

.home .brand .brand_content .brand_head .brand_h_r {
  margin-top: 16px;
  float: right;
  width: 447px;
  height: 28px;
}

.home .brand .brand_content .brand_head .brand_h_r ul li {
  float: left;
  padding: 0 10px;
  text-align: center;
}

.home .brand .brand_content .brand_head .brand_h_r ul li a, .home .brand .brand_content .brand_head .brand_h_r ul li .side_nav .side_content .side_bottom em, .home .side_nav .side_content .side_bottom .brand .brand_content .brand_head .brand_h_r ul li em {
  color: #999;
  font-size: 12px;
  line-height: 28px;
}

.home .brand .brand_content .brand_head .brand_h_r ul li:nth-child(9) {
  width: 56px;
  height: 28px;
  background: #f00;
  padding: 0 10px;
  margin-left: 19px;
}

.home .brand .brand_content .brand_head .brand_h_r ul li:nth-child(9) a, .home .brand .brand_content .brand_head .brand_h_r ul li:nth-child(9) .side_nav .side_content .side_bottom em, .home .side_nav .side_content .side_bottom .brand .brand_content .brand_head .brand_h_r ul li:nth-child(9) em {
  color: #fff;
}

.home .brand .brand_content .brand_head .brand_h_r ul li:hover a, .home .brand .brand_content .brand_head .brand_h_r ul li:hover .side_nav .side_content .side_bottom em, .home .side_nav .side_content .side_bottom .brand .brand_content .brand_head .brand_h_r ul li:hover em {
  color: #f00;
}

.home .brand .brand_content .brand_m {
  width: 1200px;
  height: 332px;
}

.home .brand .brand_content .brand_m .selec {
  width: 100%;
  height: 200px;
}

.home .brand .brand_content .brand_m .selec ul li {
  position: relative;
  float: left;
  margin-right: 8px;
}

.home .brand .brand_content .brand_m .selec ul li a span, .home .brand .brand_content .brand_m .selec ul li .side_nav .side_content .side_bottom em span, .home .side_nav .side_content .side_bottom .brand .brand_content .brand_m .selec ul li em span {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 25px;
  font: 12px/25px '微软雅黑';
  text-align: center;
  color: #FFF;
  background: rgba(5, 8, 9, 0.45);
}

.home .brand .brand_content .brand_m .selec ul li:hover {
  box-shadow: 0 0 10px #999;
}

.home .brand .brand_content .brand_m .brand_list {
  width: 1200px;
  height: 120px;
  margin-top: 12px;
}

.home .brand .brand_content .brand_m .brand_list ul {
  margin-left: 2px;
}

.home .brand .brand_content .brand_m .brand_list ul li {
  float: left;
  width: 114px;
  height: 60px;
  margin-top: 10px;
  border: 2px solid #fff;
}

.home .brand .brand_content .brand_m .brand_list ul li a, .home .brand .brand_content .brand_m .brand_list ul li .side_nav .side_content .side_bottom em, .home .side_nav .side_content .side_bottom .brand .brand_content .brand_m .brand_list ul li em {
  display: block;
}

.home .brand .brand_content .brand_m .brand_list ul li a img, .home .brand .brand_content .brand_m .brand_list ul li .side_nav .side_content .side_bottom em img, .home .side_nav .side_content .side_bottom .brand .brand_content .brand_m .brand_list ul li em img {
  width: 114px;
  height: 60px;
}

.home .brand .brand_content .brand_m .brand_list ul li:hover {
  border-left: 2px solid #ccc;
  border-right: 2px solid #ccc;
}

.home .limit_time {
  width: 100%;
  height: 300px;
}

.home .limit_time .limit_content {
  width: 1200px;
  height: 300px;
  margin: 0 auto;
}

.home .limit_time .limit_content .limit_head {
  border-bottom: 1px solid #f00;
  padding-bottom: 10px;
  margin-top: 31px;
  width: 100%;
  height: 35px;
  vertical-align: top;
}

.home .limit_time .limit_content .limit_head i {
  display: inline-block;
  width: 138px;
  height: 28px;
  background: url(../images/search.png) -90px -89px no-repeat;
}

.home .limit_time .limit_content .limit_head span {
  color: #666;
  margin-left: 20px;
}

.home .limit_time .limit_content .limit_head .limit_h_r {
  margin-top: 17px;
  float: right;
  width: 728px;
  height: 20px;
}

.home .limit_time .limit_content .limit_head .limit_h_r ul li {
  float: left;
  padding: 0 8px;
  width: 75px;
  height: 28px;
  text-align: center;
}

.home .limit_time .limit_content .limit_head .limit_h_r ul li a, .home .limit_time .limit_content .limit_head .limit_h_r ul li .side_nav .side_content .side_bottom em, .home .side_nav .side_content .side_bottom .limit_time .limit_content .limit_head .limit_h_r ul li em {
  color: #999;
  font-size: 12px;
  line-height: 28px;
}

.home .limit_time .limit_content .limit_head .limit_h_r ul li:nth-child(1) {
  height: 28px;
  background: #f00;
  padding: 0 8px;
}

.home .limit_time .limit_content .limit_head .limit_h_r ul li:nth-child(1) a, .home .limit_time .limit_content .limit_head .limit_h_r ul li:nth-child(1) .side_nav .side_content .side_bottom em, .home .side_nav .side_content .side_bottom .limit_time .limit_content .limit_head .limit_h_r ul li:nth-child(1) em {
  color: #fff;
}

.home .limit_time .limit_content .limit_head .limit_h_r ul li:hover {
  background: #f00;
}

.home .limit_time .limit_content .limit_head .limit_h_r ul li:hover a, .home .limit_time .limit_content .limit_head .limit_h_r ul li:hover .side_nav .side_content .side_bottom em, .home .side_nav .side_content .side_bottom .limit_time .limit_content .limit_head .limit_h_r ul li:hover em {
  color: #fff;
}

.home .limit_time .limit_content .limit_main {
  width: 1200px;
  height: 250px;
  border-bottom: 1px solid #ccc;
}

.home .limit_time .limit_content .limit_main ul {
  height: 250px;
}

.home .limit_time .limit_content .limit_main ul li {
  width: 184px;
  margin-right: 15px;
  height: 250px;
  float: left;
}

.home .limit_time .limit_content .limit_main ul li a img, .home .limit_time .limit_content .limit_main ul li .side_nav .side_content .side_bottom em img, .home .side_nav .side_content .side_bottom .limit_time .limit_content .limit_main ul li em img {
  width: 185px;
  height: 185px;
}

.home .limit_time .limit_content .limit_main ul li p {
  width: 185px;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  color: #f00;
  padding: 0 10px;
}

.home .limit_time .limit_content .limit_main ul li p:nth-child(2) {
  margin-top: 10px;
}

.home .limit_time .limit_content .limit_main ul li p:nth-child(3) {
  color: #ccc;
  width: 150px;
  height: 20px;
  font-size: 12px;
  line-height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.home .limit_time .limit_content .limit_main ul li:hover {
  box-shadow: 0 0 10px #aaa;
}

.home .hot_sale {
  width: 100%;
  height: 200px;
}

.home .hot_sale .hot_content {
  width: 1192px;
  height: 200px;
  margin: 0 auto;
}

.home .hot_sale .hot_content .hot_head {
  border-bottom: 1px solid #f00;
  margin-top: 31px;
  width: 100%;
  height: 40px;
  vertical-align: top;
}

.home .hot_sale .hot_content .hot_head i {
  display: inline-block;
  width: 40px;
  height: 30px;
  background: url(../images/search.png) -75px 0 no-repeat;
}

.home .hot_sale .hot_content .hot_head h3 {
  display: inline-block;
  font-size: 24px;
  height: 40px;
  color: #f00;
}

.home .hot_sale .hot_content .hot_head span {
  color: #666;
  margin-left: 20px;
}

.home .hot_sale .hot_content .hot_head span em {
  font-size: 12px;
  line-height: 20px;
  padding: 0 10px;
  border-right: 1px solid #ccc;
}

.home .hot_sale .hot_content .hot_m {
  width: 1200px;
  height: 159px;
}

.home .hot_sale .hot_content .hot_m .hot_selec {
  width: 100%;
  height: 159px;
}

.home .hot_sale .hot_content .hot_m .hot_selec ul li {
  position: relative;
  float: left;
  margin-right: 8px;
}

.home .hot_sale .hot_content .hot_m .hot_selec ul li a span, .home .hot_sale .hot_content .hot_m .hot_selec ul li .side_nav .side_content .side_bottom em span, .home .side_nav .side_content .side_bottom .hot_sale .hot_content .hot_m .hot_selec ul li em span {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 25px;
  font: 12px/25px '微软雅黑';
  text-align: center;
  color: #FFF;
  background: rgba(5, 8, 9, 0.45);
}

.home .hot_sale .hot_content .hot_m .hot_selec ul li:hover {
  box-shadow: 0 0 10px #999;
}

.home .home_goodslist {
  width: 100%;
  display: inline-block;
}

.home .home_goodslist .gList_content {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.home .home_goodslist .gList_content .list_head {
  border-bottom: 1px solid #f00;
  margin-top: 31px;
  width: 100%;
  height: 44px;
  vertical-align: top;
}

.home .home_goodslist .gList_content .list_head i {
  display: inline-block;
  width: 40px;
  height: 24px;
  background: url(../images/search.png) -144px 0 no-repeat;
}

.home .home_goodslist .gList_content .list_head h3 {
  display: inline-block;
  font-size: 24px;
  height: 44px;
  color: #f00;
}

.home .home_goodslist .gList_content .list_head span {
  color: #666;
  margin-left: 20px;
}

.home .home_goodslist .gList_content .list_head .list_h_r {
  margin-top: 16px;
  float: right;
  width: 335px;
  height: 28px;
}

.home .home_goodslist .gList_content .list_head .list_h_r ul li {
  float: left;
  padding: 0 10px;
  text-align: center;
}

.home .home_goodslist .gList_content .list_head .list_h_r ul li a, .home .home_goodslist .gList_content .list_head .list_h_r ul li .side_nav .side_content .side_bottom em, .home .side_nav .side_content .side_bottom .home_goodslist .gList_content .list_head .list_h_r ul li em {
  color: #999;
  font-size: 12px;
  line-height: 28px;
}

.home .home_goodslist .gList_content .list_head .list_h_r ul li:nth-child(7) {
  width: 56px;
  height: 28px;
  background: #f00;
  padding: 0 10px;
  margin-left: 19px;
}

.home .home_goodslist .gList_content .list_head .list_h_r ul li:nth-child(7) a, .home .home_goodslist .gList_content .list_head .list_h_r ul li:nth-child(7) .side_nav .side_content .side_bottom em, .home .side_nav .side_content .side_bottom .home_goodslist .gList_content .list_head .list_h_r ul li:nth-child(7) em {
  color: #fff;
}

.home .home_goodslist .gList_content .list_head .list_h_r ul li:hover:nth-child(7) {
  color: #fff;
}

.home .home_goodslist .gList_content .list_head .list_h_r ul li:hover a, .home .home_goodslist .gList_content .list_head .list_h_r ul li:hover .side_nav .side_content .side_bottom em, .home .side_nav .side_content .side_bottom .home_goodslist .gList_content .list_head .list_h_r ul li:hover em {
  color: #f00;
}

.home .home_goodslist .gList_content .good {
  width: 1200px;
  height: 100%;
}

.home .home_goodslist .gList_content .good ul li {
  width: 276px;
  height: 328px;
  margin: 0 10px 30px 10px;
  float: left;
  background: #fff;
  border: 1px solid #ccc;
  text-align: center;
}

.home .home_goodslist .gList_content .good ul li p {
  text-align: left;
  margin-left: 20px;
  margin-top: 10px;
  width: 240px;
  height: 25px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.home .home_goodslist .gList_content .good ul li a, .home .home_goodslist .gList_content .good ul li .side_nav .side_content .side_bottom em, .home .side_nav .side_content .side_bottom .home_goodslist .gList_content .good ul li em {
  color: #999;
  font-size: 12px;
  line-height: 18px;
}

.home .home_goodslist .gList_content .good ul li a img, .home .home_goodslist .gList_content .good ul li .side_nav .side_content .side_bottom em img, .home .side_nav .side_content .side_bottom .home_goodslist .gList_content .good ul li em img {
  width: 260px;
  height: 260px;
}

.home .home_goodslist .gList_content .good ul li span {
  font-size: 12px;
  color: #ccc;
  line-height: 18px;
}

.home .home_goodslist .gList_content .good ul li .youhui {
  color: #f00;
  width: 240px;
  height: 30px;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  margin-left: 20px;
}

.home .home_goodslist .gList_content .good ul li:hover {
  box-shadow: 0 0 10px #ccc;
}

.home .side_nav {
  display: none;
  width: 146px;
  height: 538px;
  border: 1px solid #ccc;
  position: fixed;
  top: 10%;
  left: 2%;
  background: #fff;
}

.home .side_nav .side_content {
  width: 126px;
  margin: 0 10px;
}

.home .side_nav .side_content .idt {
  width: 126px;
  height: 25px;
  font-size: 12px;
  line-height: 25px;
  background: #fe6a6a;
  text-align: center;
  margin: 10px 0;
}

.home .side_nav .side_content .idt a, .home .side_nav .side_content .idt .side_bottom em, .home .side_nav .side_content .side_bottom .idt em {
  color: #fff;
  display: block;
}

.home .side_nav .side_content .side_nav_list {
  width: 126px;
  height: 90px;
  padding: 5px 0;
  border-bottom: 1px solid #ccc;
}

.home .side_nav .side_content .side_nav_list ul li {
  font-size: 12px;
  line-height: 30px;
  float: left;
  padding: 0 5px;
}

.home .side_nav .side_content .side_nav_list ul li a, .home .side_nav .side_content .side_nav_list ul li .side_bottom em, .home .side_nav .side_content .side_bottom .side_nav_list ul li em {
  display: block;
  color: #999;
}

.home .side_nav .side_content .side_nav_class {
  width: 126px;
  height: 237px;
}

.home .side_nav .side_content .side_nav_class ul li {
  float: left;
  width: 50%;
  line-height: 30px;
  height: 29px;
}

.home .side_nav .side_content .side_nav_class ul li a, .home .side_nav .side_content .side_nav_class ul li .side_bottom em, .home .side_nav .side_content .side_bottom .side_nav_class ul li em {
  color: #666;
  display: inline-block;
  text-decoration: none;
  padding: 0;
  line-height: 19px;
  position: relative;
  font-size: 12px;
}

.home .side_nav .side_content .side_nav_class ul li a i, .home .side_nav .side_content .side_nav_class ul li .side_bottom em i, .home .side_nav .side_content .side_bottom .side_nav_class ul li em i {
  display: block;
  float: left;
  margin-right: 4px;
  height: 20px;
  width: 20px;
  background: url(../images/side1.png) -575px -49px no-repeat;
  line-height: 20px;
}

.home .side_nav .side_content .side_search {
  border: 1px solid #ccc;
  width: 120px;
  height: 28px;
  margin: 5px 0 10px 0;
}

.home .side_nav .side_content .side_search .ss {
  width: 87px;
  height: 24px;
  padding: 1px 5px;
}

.home .side_nav .side_content .side_search .sbt {
  width: 28px;
  height: 28px;
  padding: 5px;
  border-left: 1px solid #ccc;
  background: url(../images/search.png) -42px 0 no-repeat;
}

.home .side_nav .side_content .side_bottom {
  width: 126px;
  height: 30px;
  padding-top: 3px;
  border-top: 1px solid #ccc;
}

.home .side_nav .side_content .side_bottom a, .home .side_nav .side_content .side_bottom em {
  color: #666;
  display: inline-block;
  font-size: 12px;
  line-height: 20px;
  padding: 5px;
}

.home .toTop {
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  background: #ccc;
  position: fixed;
  right: 0;
  bottom: 4%;
  line-height: 40px;
  text-align: center;
}

.home .xiding {
  display: none;
  width: 100%;
  height: 83px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 100;
  border-bottom: 2px solid #ccc;
  box-shadow: 0 0 5px #ccc;
}

.home .xiding .xiding_content .xiding_top {
  width: 100%;
  height: 40px;
  border-bottom: 2px solid #f00;
}

.home .xiding .xiding_content .xiding_top .topc {
  width: 1200px;
  height: 35px;
  margin: 0 auto;
}

.home .xiding .xiding_content .xiding_top .topc span {
  width: 50px;
  padding: 5px;
  float: left;
  font-size: 16px;
  line-height: 30px;
  color: #f00;
}

.home .xiding .xiding_content .xiding_top .topc ul {
  float: left;
}

.home .xiding .xiding_content .xiding_top .topc ul li {
  float: left;
  padding: 5px;
}

.home .xiding .xiding_content .xiding_top .topc ul li a, .home .xiding .xiding_content .xiding_top .topc ul li .side_nav .side_content .side_bottom em, .home .side_nav .side_content .side_bottom .xiding .xiding_content .xiding_top .topc ul li em {
  font-size: 16px;
  line-height: 30px;
  color: #444;
}

.home .xiding .xiding_content .xiding_top .topc .xd_search {
  width: 206px;
  height: 30px;
  float: right;
  line-height: 40px;
  display: inline-block;
}

.home .xiding .xiding_content .xiding_top .topc .xd_search .xd_ss {
  width: 125px;
  border: 2px solid #E60044;
  height: 27px;
}

.home .xiding .xiding_content .xiding_top .topc .xd_search .xd_sbt {
  width: 70px;
  height: 27px;
  margin-left: -5px;
  background: url(../images/search.png) -200px 0 no-repeat;
}

.home .xiding .xiding_content .xiding_bottom {
  width: 100%;
  height: 40px;
}

.home .xiding .xiding_content .xiding_bottom .bottomc {
  width: 1200px;
  height: 40px;
  margin: 0 auto;
}

.home .xiding .xiding_content .xiding_bottom .bottomc span {
  width: 50px;
  padding: 5px;
  float: left;
  font-size: 16px;
  line-height: 30px;
  color: #f00;
}

.home .xiding .xiding_content .xiding_bottom .bottomc ul {
  float: left;
}

.home .xiding .xiding_content .xiding_bottom .bottomc ul li {
  float: left;
  padding: 5px;
  font-size: 16px;
  line-height: 30px;
}

.home .xiding .xiding_content .xiding_bottom .bottomc ul li a, .home .xiding .xiding_content .xiding_bottom .bottomc ul li .side_nav .side_content .side_bottom em, .home .side_nav .side_content .side_bottom .xiding .xiding_content .xiding_bottom .bottomc ul li em {
  color: #444;
}

.home .footer {
  width: 100%;
  height: 400px;
  border-top: 2px solid #f00;
}

.home .footer .footer_content {
  width: 1200px;
  height: 400px;
  margin: 0 auto;
}

.home .footer .footer_content .bottom {
  width: 1200px;
  height: 240px;
  margin-top: 40px;
}

.home .footer .footer_content .bottom ul li {
  float: left;
  width: 137px;
  height: 270px;
  padding-right: 60px;
  text-align: center;
}

.home .footer .footer_content .bottom ul li div i {
  display: inline-block;
  width: 80px;
  height: 80px;
  background: url(../images/foot1.png) 0 0 no-repeat;
  margin-bottom: 20px;
}

.home .footer .footer_content .bottom ul li ul li {
  width: 137px;
  height: 27px;
  font-size: 12px;
  line-height: 25px;
}

.home .footer .footer_content .bottom ul li ul li a, .home .footer .footer_content .bottom ul li ul li .side_nav .side_content .side_bottom em, .home .side_nav .side_content .side_bottom .footer .footer_content .bottom ul li ul li em {
  color: #555;
}

.home .footer .footer_content .bottom ul li ul li:hover a, .home .footer .footer_content .bottom ul li ul li:hover .side_nav .side_content .side_bottom em, .home .side_nav .side_content .side_bottom .footer .footer_content .bottom ul li ul li:hover em {
  color: #f00;
  border-bottom: #f00;
}

.home .footer .footer_content .bottom ul li img {
  text-align: center;
  padding-left: 15px;
}

.home .footer .footer_content .bottom ul li p {
  font-size: 14px;
  color: #333;
  line-height: 18px;
  text-align: center;
}

.home .footer .footer_content .bottom1 {
  width: 100%;
  height: 62px;
  padding: 30px 0;
}

.home .footer .footer_content .bottom1 p {
  font-size: 12px;
  color: #666;
  text-align: center;
  margin-top: 20px;
}

.home .footer .footer_content .bottom1 .cert {
  margin-top: 5px;
  text-align: center;
}

.home .footer .footer_content .bottom1 .cert img {
  width: 70px;
  height: 26px;
  margin-top: 20px;
}
